<!DOCTYPE html>
<div class="row">
  <div class="col">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Manage Recipe
      </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a href="#" class="dropdown-item">Add Ingredient</a>
          <a href="#" class="dropdown-item">Edit Recipe</a>
          <a href="#" class="dropdown-item">Delete Recipe</a>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    Recipe Description Text
  </div>
</div>
<div class="row">
  <div class="col">
    Ingredients
  </div>
</div>
